# -------------------------------------------------------------- //
# Aliases
# -------------------------------------------------------------- //

alias processmonitor="sudo /Applications/ProcessMonitor.app/Contents/MacOS/ProcessMonitor -pretty"
alias filemonitor="sudo /Applications/FileMonitor.app/Contents/MacOS/FileMonitor"
alias myip="curl -4 ifconfig.co/ip"
alias prmd="rm -rfP ~/Downloads/* | echo y && exit"
alias cleardns="sudo killall -HUP mDNSResponder"
alias cloneall="cloneAllRepos"
alias cu="composer update -o --prefer-dist --no-suggest"
alias ci="composer i -o --prefer-dist --no-suggest"
alias vialiases="vi $HOME/.config/dotfiles/.aliases"
alias vifunctions="vi $HOME/.config/dotfiles/.functions"
alias gotop="gotop --color=vice -b"
alias supervisor="rereadAndRestartSupervisor"
alias vissh="vi $HOME/.ssh/config"
alias vizsh="vi $HOME/.zshrc"
alias srczsh="source $HOME/.zshrc"
alias lookup="$HOME/Scripts/IpLookup.sh"
alias bamchmod="stat -f \"%OLp\""
alias zombies="ps axo stat,ppid,pid,comm | grep -w defunct"
alias s="brew services"
alias clr="php artisan redis:flush"
alias yarn="yarn --scripts-prepend-node-path true"
alias whichpostgres="cat /usr/local/var/postgres/postmaster.pid"
alias htop="sudo htop"
alias phpmemory="php -i | grep memory_limit"

##
# Docker-related
##
alias dbuild="runDockerComposeUp"

##
# Aliases to run function (as defined at top of this file)
##
alias killdns="killdns"
alias start="start"
alias startb="startBasic"
alias stop="stop"
alias restartweb="stop && start | echo \"Web services restarted\" | exit"

##
# Laravel-related
##
alias b="php artisan migrate:fresh && php artisan db:seed"
alias dump="php artisan dump-server"
alias ht="a horizon:terminate"
alias hp="a horizon:purge"
alias c="a optimize:clear; composer dumpautoload -o"
alias a="php artisan"
alias t="a tinker"
alias p="cd $HOME/Code"

# Other
alias lock="m lock"
