# -------------------------------------------------------------- //
# Aliases
# -------------------------------------------------------------- //

alias bamchmod="stat -f \"%OLp\""
alias c="clear"
alias ci="composer install -o"
alias cleardns="sudo killall -HUP mDNSResponder"
alias cloneall="cloneAllRepos"
alias co="composer dumpautoload -o"
alias count="find . ! -name . -prune -print | grep -c /"
alias cu="composer update -o"
alias disableDS_Store="defaults write com.apple.desktopservices DSDontWriteNetworkStores true"
alias d="youtube-dl --format mp4 "
alias dl="youtube-dl -x --audio-format wav"
alias enableDS_Store="defaults write com.apple.desktopservices DSDontWriteNetworkStores false"
alias etc="cd /opt/homebrew/etc"
alias go="o; pstorm .; start; yarn watch"
alias gotop="gotop --color=vice -b"
alias htop="sudo htop"
alias loadnvm=". /usr/local/opt/nvm/nvm.sh"
alias log="valet log -f --lines=10"
alias lookup="$HOME/Scripts/IpLookup.sh"
alias myip="curl -4 ifconfig.co/ip"
alias o="p; cd processmaker"
alias phpmemory="php -i | grep memory_limit"
alias prmd="rm -rfP ~/Downloads/* | echo y && exit 0"
alias s="brew services"
alias srczsh="source $HOME/.zshrc"
alias stopua="sudo killall -9 UA\ Mixer\ Engine"
alias supervisor="rereadAndRestartSupervisor"
alias sw1="sudo mv ~/Downloads ~/Downloads.archive && sudo ln -s /Volumes/Additional\ Storage/Downloads ~/Downloads"
alias sw2="sudo rm -r ~/Downloads && sudo mv ~/Downloads.archive ~/Downloads"
alias vialiases="vi $HOME/.config/dotfiles/.aliases"
alias vifunctions="vi $HOME/.config/dotfiles/.functions"
alias vissh="vi $HOME/.ssh/config"
alias vizsh="vi $HOME/.zshrc"
alias whichpostgres="cat /usr/local/var/postgres/postmaster.pid"
alias yarn="yarn --scripts-prepend-node-path true"
alias zombies="ps axo stat,ppid,pid,comm | grep -w defunct"

##
# ProcessMaker-related
##
alias pif="copyFilesToProcessMakerRepoForLocalDev; pi"
alias runEchoServer="cd $HOME/code/processmaker; npx laravel-echo-server start"
alias runHorizon="cd $HOME/code/processmaker; php artisan horizon"

##
# Docker-related
##
alias dbuild="runDockerComposeUp"

##
# Aliases to run function (as defined at top of this file)
##
alias killdns="killDns"
alias restart="stopWebServicesQuiet && startWebServices"
alias rw="start | echo \"Web services restarted\" | exit"
alias start="startWebServices"
alias stop="stopWebServicesQuiet"

##
# Laravel-related
##
alias a="php artisan"
alias b="php artisan generate:reset --count"
alias cache="a optimize:clear && a clear-compiled && a redis:flush"
alias dump="php artisan dump-server"
alias gen="php artisan assessment:generate"
alias hp="a horizon:purge"
alias ht="a horizon:terminate"
alias p="cd $HOME/code"
alias pa="cd $HOME/packages/composer/processmaker"
alias sail='[ -f sail ] && bash sail || bash vendor/bin/sail'
alias t="a tinker --ansi"

# Other
alias lock="m lock"
