# -------------------------------------------------------------- //
# Functions
# -------------------------------------------------------------- //

runDockerComposeUp() {
    if [[ -d ./docker ]]; then
        cd ./docker
    fi

    docker-compose up --detach --build
}

cloneAll() {
    # Make the url to the input github organization's repository page.
    ORG_URL="https://api.github.com/orgs/${1}/repos?per_page=200";

    # List of all repositories of that organization (seperated by newline-eol).
    ALL_REPOS=$(curl -s ${ORG_URL} | grep html_url | awk 'NR%2 == 0' \
                | cut -d ':' -f 2-3 | tr -d '",');

    # Clone all the repositories.
    for ORG_REPO in ${ALL_REPOS}; do
        git clone ${ORG_REPO}.git;
    done
}

function killdns() {
        sudo killall -HUP mDNSResponder;
        echo "DNS responder service restarted"
}

function start() {
        echo "Starting web services...";
        valet stop && sudo brew services stop --all;
        brew services start dnsmasq;
        brew services start postgresql;
        brew services start redis;
        brew services start supervisor;
        valet restart;
        supervisorctl restart all;
        brew services list;
}

function stop() {
        echo "Stopping running web services...";
        valet stop && sudo brew services stop --all && brew services stop --all && brew services list;
}

function rereadAndRestartSupervisor() {
        supervisorctl reread && supervisorctl update && supervisorctl restart all;
}
