# -------------------------------------------------------------- //
# Functions
# -------------------------------------------------------------- //

runDockerComposeUp() {
    if [[ -d ./docker ]]; then
        cd ./docker
    fi

    docker-compose up --detach --build
}

cloneAll() {
    # Make the url to the input github organization's repository page.
    ORG_URL="https://api.github.com/orgs/${1}/repos?per_page=200";

    # List of all repositories of that organization (seperated by newline-eol).
    ALL_REPOS=$(curl -s ${ORG_URL} | grep html_url | awk 'NR%2 == 0' \
                | cut -d ':' -f 2-3 | tr -d '",');

    # Clone all the repositories.
    for ORG_REPO in ${ALL_REPOS}; do
        git clone ${ORG_REPO}.git;
    done
}

function killDns() {
        sudo killall -HUP mDNSResponder;
        echo "DNS responder service restarted"
}

function stopWebServicesQuiet() {
        GREEN='\033[0;32m';

        echo -e "${GREEN}Stopping web services...";

        # Stop all web services using Homebrew
        valet stop > /dev/null 2>&1;
        
	sudo brew services stop dnsmasq > /dev/null 2>&1;
	sudo brew services stop php > /dev/null 2>&1;

	brew services stop nginx > /dev/null 2>&1;
	brew services stop redis > /dev/null 2>&1;
	brew services stop postgresql > /dev/null 2>&1;
	brew services stop supervisor > /dev/null 2>&1;
}

function startWebServices() {
	GREEN='\033[0;32m';

	# Stop any currently running services
	stopWebServicesQuiet;
   	
	# Quietly run postgres, redis, supervisor
	brew services run postgresql;
        brew services run redis;
	brew services run supervisor;

	# Start valet
        valet start;

	# Show running services
	brew services list;
}
