# -------------------------------------------------------------- //
# Functions
# -------------------------------------------------------------- //

##
# Clone a ProcessMaker GitHub repo
##
function gcr() {
	git clone https://github.com/ProcessMaker/"$1".git

	if [ ! -z "$2" ]; then
		cd "$1"
		git checkout "$2"
		cd ..
	fi
}

function convertVideosToGifs() {
	for f in ./*.mp4; do
		ffmpeg -i "$f" -vf scale=320:-1 "${f%.*}.gif"
	done
}

function cloneAll() {
    # Make the url to the input github organization's repository page.
    ORG_URL="https://api.github.com/orgs/${1}/repos?per_page=200";

    # List of all repositories of that organization (seperated by newline-eol).
    ALL_REPOS=$(curl -s ${ORG_URL} | grep html_url | awk 'NR%2 == 0' \
                | cut -d ':' -f 2-3 | tr -d '",');

    # Clone all the repositories.
    for ORG_REPO in ${ALL_REPOS}; do
        git clone ${ORG_REPO}.git;
    done
}

function killDns() {
    sudo killall -HUP mDNSResponder;
    echo "DNS responder service restarted"
}

function stopWebServicesQuiet() {
	sudo echo "Stopping dev services...";
	sudo brew services stop --quiet --all > /dev/null 2>&1;
	brew services stop --quiet --all > /dev/null 2>&1;
	supervisorctl stop --all --quiet > /dev/null 2>&1 &
	sudo killall -9 php > /dev/null 2>&1 &
	sudo killall -9 mysql > /dev/null 2>&1 &
	sudo killall -9 node > /dev/null 2>&1 &
	wait
	valet services
}

function startWebServices() {
	brew services run --quiet mysql &
	brew services run --quiet redis &
	brew services run --quiet supervisor &
	valet start &
	wait
	valet services
}
